@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@600;700;800&display=swap');
@import "tailwindcss";

body {
    background-color: rgb(25, 28, 36);
    font-family: 'Inter', Arial, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', Arial, sans-serif;
}

button{
    cursor: pointer;
}